/* ini css */
main{
    display: flex;
    justify-content: space-around;
}

input[type=number] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.color-section{
    background-color: aliceblue;
    padding: 12px;
    border-radius: 8px;
    display: table;
}

.text-center{
    text-align: center;
}

#result {
    font-size: 30px;
    font-weight: bold;
}

.button{
    background-color: blue;
    border: 0;
    color: white;
    padding: 4px;
    border-radius: 8px;

}

footer {
    text-align: center;
}

p {
    display: table row;
}

label {
    display: table-cell;
    text-align: center;
}

input {
    display: table-cell;
}